body{
	font: 400 16px/1.65 "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
	/* margin-top: 50px; */
}
img {
    max-width: 100%;
    /* vertical-align: middle; */
    margin: 10px auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}
a{
	color: #206080;
}

h1{
	color:#206080;
	font-size: 26px;
	line-height: 1.625;
}

h2{
	font-size: 24px;
	line-height: 1.625;
}

h4{
	margin-top: 20px;
	font-weight: 700;
}

hr.short{
	margin: 10px 0;
}

.email:before {
    content: attr(user) "\0040" attr(domain);
}

.vspace{
	margin-bottom: 5px;
}

/* nav bar */
.navbar-inverse{
    z-index: 998;
	position: relative;
    height: 100%;
	background-color: #206080;
} 

.navbar-inverse .navbar-nav>li {
	float: left;
    padding: 0;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}
.navbar-nav > li > a:hover {
	background-color: #307090 !important;
}
/* end navbar */

.business-card {
	margin-bottom: 20px;
	border-radius: 4px;
  /* box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7); */
} 
.business-card{
	color: #206080;
}
.business-card img{
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.15);
	border: 3px solid rgba(255, 255, 255, 0.15);
}



/* from codepen example */
.footer{
	padding-bottom: 30px;
	clear:both;
}

.bold{
	font-weight: 700;
}

.big{
	font-size: 150%;
}

.itembox{
	padding: 10px 15px;
	margin-bottom: 15px;
}

.project-thumb{
	float:right;
	border: 1px solid #ddd;
	max-width: 125px;
	border-radius: 6px;
	margin-left: 20px;
	margin-top: 20px;
        /*border-radius: 6px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);*/
}

.blog-content img {
    max-width: 100%;
    /* vertical-align: middle; */
    margin: 10px auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.blog-index-thumbnail{
	max-width: 200px;
	max-height: 150px;
	/*display: block;*/
	margin-left: 20px;
	/*border-radius: 6px;*/
        /*box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);*/
}

.blog-content ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.blog-content {
	max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;    
	/*border-radius: 6px;*/
    /*box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);*/
}

nobr {
    white-space: nowrap;
}

.blog-content a.post-tag {
	text-decoration: none;
	font-size: 14px;
    color: #828282;
    border-radius: 5px;
    border: 1px solid #828282;
    color: #828282;
    padding: 1px 5px;
    margin-left: 5px;
}

.blog-content a.post-tag:hover{
    border:1px solid #206080;
    text-decoration:none;
    color:#ffffff;
    background:#206080
}

.blog-content .embed-responsive{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 6px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);
}

.blog-content h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.blog-content h3 {
    font-size: 20.8px;
    font-weight: 540;
    margin-top: 33px;
}

.blog-content a{
	border-bottom: 1px dotted #206080;
	padding-bottom: 1px;
}

.blog-content  ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.blog-content  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.blog-content p {
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
blockquote code {
	font-family: Menlo,Monaco,Consolas,monospace;
	font-weight: 200;
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
	border-radius: 0px;
	overflow: auto;
    margin: 20px 0;
    padding: 15px;
    font-size: 13px;
    color: #ccc;
    background: #2d2d2d;

}

p code {
	font-family: Menlo,Monaco,Consolas,monospace;
	font-weight: 200;
}

code a{
	font-family: Menlo,Monaco,Consolas,monospace;
	font-weight: 200;
	cursor:pointer;
    pointer-events: none;
}

.btn-primary{
	background-color: #206080;
	border-color: #206080
}

.date{
	font-size: 14px;
    color: #828282;	
	color:#aaa;
}

.blog-content a:hover{
    color:#206080;
    border-bottom:1px solid #206080;
    padding-bottom:1px;
    text-decoration:none
}

.blog-content a{
    border-bottom:1px dotted #bbb;
    padding-bottom:1px
}

@media screen and (max-width: 800px){
    .blog-content h3{
        font-size:22px
    }
}

.blog-content h4{
    font-size:18.4px;
    font-weight:800
}

.blog-content .post-title{
    font-size:35.2px;
    letter-spacing:-1px;
    line-height:1.2;
    font-weight:600;
    /* width:680px; */
    max-width:100%
}

@media screen and (max-width: 800px){
    .blog-content h4{
        font-size:18px
    }
}
.breadcrumb {
	background-color: #fff;
}

.clear{
	clear: both;
}

.my-picture{
	float: left;
}
.my-business-card{
	margin-left: 200px;
	margin-top: 5px;
}
br.rbr{
	display: none;
}
/* 
.content {
	padding: 80px 0;
} */

@media (min-width: 768px) {
	.container { max-width: 1024px; }
}

@media (max-width: 768px) {
  .pull-right{
	float: none !important;
	/*#display: block;*/
	margin-top: 5px;
	margin-bottom: 5px;
	/*box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.7);*/
	/*border-radius: 50%;*/
  }

blockquote {
    color: #777777;
    border-left: 4px solid #bbbbbb;
    padding: 10px;
    margin: 10px;
    padding-left: 25px;
    font-size: 18px;
    letter-spacing: -1px;
    background: #f0f0f0;
}

  br.rbr{
	display: block;
  }

  .my-picture{
	float: none;
  }
  .my-business-card{
	margin-left: auto;
	margin-top: 15px;
  }

  .high,.mid,.low{
	width: 100%;
  }
}

.padding_right{
	margin-left: 40px;

}

.cap{
	font-size: 15px;
	font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;
	color:blue;
}


code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}


