{% extends "main_template_zh.html" %}
{% block title %}shenhengheng.xyz - 技术博客{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}
		
	<form>
		<input type="text" class="form-control" id="search" placeholder="Sitede ara...">
	</form>
	
	<hr class="short"/>
	<span class="label label-default"><i class="fa fa-tags fa-fw"></i> 热门标签:</span>
	<a role="button" class="tag label label-warning">图像处理</a>
	<a role="button" class="tag label label-warning">程序设计</a>
	<a role="button" class="tag label label-warning">计算机工程</a>
	<a role="button" class="tag label label-warning">机器学习</a>
	<a role="button" class="tag label label-warning">深度学习</a>
	<a role="button" class="tag label label-warning">强化学习</a>
	<a role="button" class="tag label label-danger">Web 开发</a>
	
	<div id="search-results-text" style="display:none">
	<hr/>
		<button id="back" class="btn btn-default btn-sm pull-right"><i class="fa fa-arrow-left fa-fw"></i> 返回</button> 
		<i class="fa fa-search fa-fw"></i> <code id="search-query"></code> 搜索结果
	</div>
			
	<hr/>

	<div class="list-of-posts">

		{% for post in posts %}

		<div class="itembox">
			

			<h3><a href="{{ post["filename"] }}">{{ post["title"] }}</a></h3>
			<img class="pull-right blog-index-thumbnail" src="{{ post["thumbnail"] }}" alt="thumbnail"/>
			<span class="date">{{ post["formatted_date"] }}</span>
			
			<p>{{ post["description"] }}</p>
			
			<div class="vspace"></div>

			<p><small><i class="fa fa-tags fa-fw"></i> {{ post["tags"] }}</small></p>
			
			<div class="vspace"></div>

			<a class="btn btn-default btn-sm" href="{{ post["filename"] }}">详细</a>
			
			
			
		</div>
		
		{% endfor %}
	
	</div>

<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
	
<script>
(function ($) {
	// custom css expression for a case-insensitive contains()
	jQuery.expr[':'].Contains = function(a,i,m){
		return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	};

	function listFilter() {

		$('#search')
		.change( function () {
					
			$('#search-results-text').show();
			
			var filter = $(this).val();
			if(filter) {
				// this finds all links in a list that contain the input,
				// and hide the ones not containing the input while showing the ones that do
				$('.list-of-posts').find("div:not(:Contains(" + filter + "))").hide();
				$('.list-of-posts').find("div:Contains(" + filter + ")").show();
				$('#search-query').text(filter);
				} else {
					$('#search-results-text').hide();
					$('.list-of-posts').find("div").show();
			}
			return false;
		})
		.keyup( function () {
			// fire the above change event after every letter
			$(this).change();
		});

		$( ".tag" ).click(function() {
			$('#search').val($(this).text());
			$('#search').change();
		});
		
		$( "#back" ).click(function() {
			$('#search').val("");
			$('#search').change();
		});
	}
	
	
	
	//ondomready
	$(function () {
		listFilter($());
	});
}(jQuery));
</script>
	
{% endblock %}