{% extends "main_template.html" %}
{% block title %}ShenHengheng, M.E. - Personal Homepage{% endblock %}

{% block meta %}
<!-- meta tags can be added here -->
{% endblock %}

{% block content %}
<div class="business-card">
  <div class="panel-body">
    <div class="my-picture">    
        <img src="img/shine2017b.jpg" alt="shenhengheng" width="175" class="img-circle">
    </div>
    <div class="my-business-card">
        <span class="bold big">ShenHengheng, M.E.</span><br/>
        <span class="bold">Machine Learning Intern</span><br/>
        <br class="rbr"/>
        ICT, Beijing
	<br/>
        <span class="fa fa-envelope fa-fw"></span> <span class="email" user="shenhengheng17g" domain="ict.ac.cn"></span>
	<br/>

        <a class="btn btn-primary" target="_blank" href="{{ subdir }}https://www.shenhengheng.xyz/files/cv/resume.pdf" ><span class="fa fa-download fa-lg fa-fw"></span> CV</a>

    </div>
  </div>
</div>

{% if content is defined %}
    {{ content }}
{% endif %}

<hr/>

{% endblock %}
