@charset "utf-8";
/* CSS Document */

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f7fafc;
}

body, p, div {
    display: block;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    box-sizing:border-box;
}

body, th, td, button, input, select, textarea {
    font-family: "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft Yahei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif, "\5B8B\4F53";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.container_wrapper {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}

.header {
    /*background: #fff;*/
    background: #2064c8;
    height: 40px;
    position: fixed;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    /*min-height:35px;*/
    /*padding-top:5px;*/
    z-index: 500;
}

/*……………start设置图片轮番波动样式…………………*/
/*.banner {
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.sections, .section {
	height:100%;
}
.banner, .sections {
	position: relative;
}
.section {
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: white;
}
#section0 {
	background-image: url('../images/1.jpg');
}
#section1 {
	background-image: url('../images/2.jpg');
}
#section2 {
	background-image: url('../images/3.jpg');
}
#section3 {
	background-image: url('../images/4.jpg');
}
#section4 {
	background-image: url('../images/5.jpg');
}
#section5 {
	background-image: url('../images/6.jpg');
}*/
/*……………end设置图片轮番波动样式…………………*/
.top {
    height: 100%;
    line-height: 40px;
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    color: rgba(1, 167, 70, .9);
}

.cityselect {
    font: 16px/80px Microsoft YaHei;
    color: rgba(1, 167, 70, .9);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

}

.container_wrapper .header .top a {
    display: inline-block;
}

.top a {
    font: 16px Microsoft YaHei;
    text-decoration: none;
    color: rgba(1, 167, 70, .9);
}

.top a:visited {
    text-decoration: none;
}

.top a:hover {
    color: rgba(1, 167, 70, .9);
    text-decoration: none;
}

.top a:active {
    color: rgba(1, 167, 70, .9);
}

.loginreg {
    position: relative;
    display: inline-block;
    float: right;
    /*margin-right:100px;*/
    vertical-align: middle;
    width: 120px;
    text-align: center;
}

.container_wrapper .header .top img {
    height: 16px;
    width: 16px;
    margin-right: 15px;
    margin-bottom: -3px;
    padding: 0px; /*	vertical-align:middle;*/
}

.scenicspot {
    position: relative;
    width: 1180px;
    margin: 20px auto 0;
    zoom: 1;
}

.section {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
    font-family: "microsoft yahei";
    font-size: 30px;
    line-height: 60px;
    color: #000000;
}

.section .sub_title {
    position: relative;
    border-top: 1px solid #E1E1E1;
    font: 18px/40px Georgia;
    color: #A8A8A8;
    zoom: 1;
}

.theme_box {
    position: relative;
    height: 120px;
    padding: 0 25px;
    margin-bottom: 30px;
    text-align: center;
    zoom: 1;
    overflow: hidden;
}

.mr_frUl a {
    display: inline-block;
    width: 268px;
    height: 110px;
    font: 24px/26px "microsoft yahei";
    color: #333;
    text-decoration: none;
    text-align: left;
    zoom: 1;
    padding: 0px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.mr_frUl a em {
    float: left;
    width: 112px;
    height: 105px;
    cursor: pointer;
}

.mr_frUl a .route_line {
    float: left;
    width: 144px;
    margin: 30px 0 0 10px;
    cursor: pointer;
}

.mr_frUl a .route_line {
    margin: 41px 0 0 10px
}

.mr_frUl a .continent {
    font-size: 20px;
    color: #CCC;
}

.mr_frUl a .route {
    position: relative;
    font-size: 14px;
}

.mr_frUl a .route .num {
    font: 30px/30px Georgia;
}

/*.theme_box .arrow_1,.theme_box .arrow_2 {position:absolute;top:0;*top:16px;font-size:24px;line-height:16px;}
.theme_box .arrow_1 {right:-15px;color:#ccc;}
.theme_box .arrow_2 {right:-12px;color:#fff;}*/
.mr_frUl a .route .arrow_down {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background-position: 0 -90px;
    vertical-align: middle;
}

.mr_frUl a:hover .route .arrow_down {
    background-position: -20px -90px;
}

.mr_frUl .arrow_1, .theme_box .arrow_2 {
    display: none;
}

.mr_frUl a:hover {
    color: #3FC1C1;
    height: 120px;
}

.mr_frUl a:hover .continent {
    color: #D9F3F3;
}

.mr_frUl a:hover .arrow_1 {
    color: #3FC1C1;
}

.scenicul {
    position: relative;
    display: block;
    padding: 0px;
    margin: 0 auto;
    width: 1180px;
    zoom: 1;
    list-style: none;
    height: 200px;
}

/*.scenicul li {
    position: relative;
    float: left;
    width: 295px;
    height: 200px;
    font-family: "microsoft yahei";
    overflow: hidden;
    background-color: #3FC1C1;
}*/
.scenicul .firstimg {
    border-radius: 40px 0 0 0;
    margin: 0px;
    padding: 0px;
}

.scenicul .lastimg {
    border-radius: 0 0 40px 0;
    margin: 0px;
    padding: 0px;
}

.scenicul .pic {
    width: 295px;
    margin: 0;
    padding: 0;
    border: 0px;
    float: left;
    overflow: hidden;
}

.scenicul .pic img {
    border: 0;
    vertical-align: middle;
}

.scenicul .pic .intro {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #fff;
    font: 24px/1.5 "microsoft yahei";
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    zoom: 1;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 62px;
}

.scenicul .pic .picfix {
    position: relative;
    overflow: hidden;
    width: 295px;
}

.scenicul .pic .intro .details {
    float: left;
    max-width: 194px;
    position: absolute;
    top: 10px;
    left: 12px;
    color: #fff;
    font: 24px/1.5 "microsoft yahei";
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    zoom: 1;
    display: block;
    margin: 0px;
    padding: 0px;
}

.pic .intro .details .main_det {
    height: 36px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.sub_det {
    height: 26px;
    font-size: 14px;
    overflow: hidden;
    display: block;
    margin: 0px;
    padding: 0px;
	float:right;
	align:top;
}

.sceniculdiv {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}

/*……………设置metro风格图片式…………………*/
/*菜单class*/

.picbox {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}

.Menubox {
    width: 1180px;
    padding-top: 20px;
    background: none;
    border-bottom: 20px;
    line-height: 36px;
    border-top: none;
    margin: 10px auto 40px auto;
}

.Menubox ul {
    list-style: none;
}

.Menubox li {
    float: left;
    display: block;
    cursor: pointer;
    width: 90px;
    text-align: center;
    color: #919090;
    font-weight: bold;
    font: 18px/1.5 "microsoft yahei";
}

.Menubox li.hover {
    background: #fff;
    width: 90px;
    color: #f6644f;
    line-height: 36px;
    font: 18px/1.5 "microsoft yahei";
    border-left: none;
    border-bottom: #f6644f 1px solid;
}

.Menubox li.out {
}

.Contentbox {
    width: 1180px;
    min-height: 400px;
    border-top: 0;
    position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;

    background-color: #fff;
}

.Contentbox span {
    color: #ccc;
}

.box .Contentbox #con_two_1 {
    position: relative;
    top: 0px;
    clip: rect(0px, auto, auto, auto);
    min-height: 410px;
    display: block;
}

.maskWraper {
    position: absolute;
}

.maskBar {
    position: absolute;
    height: auto;
    padding: 5px 15px;
    left: 0;
    right: 0;
    z-index: 2;
    background: url(../images/graybg.png) repeat 0 0;
    text-align: center;
    color: #fff !important;
    transition: bottom 200ms;
    -moz-transition: bottom 200ms;
    -webkit-transition: bottom 200ms;
    -o-transition: bottom 200ms;
    background-color: #C03;
}




/*……………设置搜索列表…………………*/
.searchbox {
    position: relative;
    width: 310px;
    min-height:200px;
    padding: 0px 0px 0px 0px;
    margin: 10px auto 10px auto;
    background-color: #ffffff;
}

.search_list {
    margin-bottom: 10px;
    list-style-type: none;
}

.search_list li {
    position: relative;
    margin-bottom:50px;
    height: 120px;
    padding: 0px 0;
    cursor: pointer;
}

.search_list .list_box {
    color: #000;
}

.search_list .legend {
  	font: 20px/1.5 Microsoft YaHei;
    position: absolute;
    left: 4%;
    top: -15px;
    display: inline-block;
    width: auto;
    height: 20px;
    background-color: #fff;
  
}
fieldset{
	position: relative;
	padding-top: 10px;
	/*padding-bottom: 30px;*/
	border: 1px solid #999;
	/*margin-bottom: 20px;*/
}
strong{
	color: #333;
	font-weight: normal;
}
.search_list .price_box {
    margin-bottom: 0;
}

.price_box .price {
    float: left;
    padding: 2px 0 0 22px;
    margin-bottom: 6px;
}

.price_box .price strong {
    font: 20  Microsoft YaHei;
}

.list_box .img_pane{
  float: left;
}

.img_pane .pic {
    width: 45.5%;
    height: 92px;
    margin: 0px 4px 0px 7px;
}

.search_list .search_info {
    float: left;
    width: 300px;
}

.search_list .search_info .title {
    max-height: 60px;
    margin-bottom: 5px;
    font: 20px/1.5 Microsoft YaHei;
    overflow: hidden;
}

.search_list .tags {
    height: 28px;
    margin-bottom: 10px;
    overflow: hidden;
}

.search_list .intro {
    max-height: 54px;
    line-height: 18px;
    margin-bottom: 15px;
    color: #999;
    overflow: hidden;
}

.search_list .theme_date {
    font: 15px/1.5 Microsoft YaHei;
    color: #333;
}

.atar_Show {
    font: 15px/1.5 Microsoft YaHei;
    color: #333;
	position: relative;
    float: none;
    display: inline-block;
    background: url(../images/star-off.png);
    width: 80px;
    height: 16px;
    border-bottom: none;
}

.search_list .price_box .atar_Show {
    float: none;
    display: inline-block;
    background: url(../images/star-off.png);
    width: 80px;
}

.atar_Show p {
    background: url(../images/star-on.png) repeat-x;
    height: 16px;
    text-decoration: none;
    border-bottom: none;
    width: 66px;
}

.search_list .theme_date div {
    float: left;
    margin: 0px 25px 0px 0px;
    padding: 0px;
    vertical-align: middle;
}

.search_list .theme_date div:last-child {
    margin: 0px 0px 0px 0px;
}

.search_list .theme_date span {
    display: inline-block;
}

.search_list .theme_date p {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    vertical-align: middle;
}

.icon_hot {
    display: inline-block;
    width: 52px;
    height: 21px;
    vertical-align: middle;
    line-height: 999em;
    font-size: 0;
    background: url(../images/icon_hot.gif) no-repeat;
}

.page_box {
    position: relative;
    zoom: 1;
    width: 100%;
    /*height: 46px;*/
    height: 100px;
    padding-top: 5px;
    overflow: hidden;
}

.c_page {
    position: absolute;
    /* right: 25px; */
    height: 20px;
    padding: 10px 0;
    color: #666;
    font: 12px/2 Arial;
    zoom: 1;
    margin-left: 2%;
}

.c_down, .c_down_nocurrent, .c_page_list, .c_pagevalue, .c_up, .c_up_nocurrent {
    float: left
}

.c_down, .c_down_nocurrent, .c_up, .c_up_nocurrent {
    width: 20px;
    height: 0;
    padding: 20px 0 0;
    border: 0;
    overflow: hidden
}

.c_down, .c_page_list a, .c_up {
    border: 1px solid #C8C8C8
}

.c_up {
    width: 30px;
    height: 23px;
    padding: 0 0 0 9px;
    margin-left: 1px;
    background-position: 5px -28px
    line-height: 23px;
    color: #ffffff;
    background: #6FDCC5;
    text-decoration: none;
}

.c_down {
    width: 30px;
    height: 23px;
    padding: 0 0 0 9px;
    margin-left: 1px;
    background-position: 51px 3px;
    line-height: 23px;
    color: #ffffff;
    background: #6FDCC5;
    text-decoration: none;
}

.c_page_list .c_page_ellipsis, .c_page_list a {
    float: left;
    cursor: pointer
}

.c_page_list a {
    height: 23px;
    margin: 0 1px;
    padding: 0 8px;
    background: #fff;
    text-decoration: none;
    overflow: hidden;
    color: #22BDCF
}

.c_page_list a:hover {
    background-position: 0 -25px;
    text-decoration: none
}

.c_page_list .c_page_ellipsis {
    margin: 0 3px
}

.c_page_list .current, .c_page_list .current:hover {
    background: #6FDCC5;
    cursor: default;
    border-color: #67C4B9;
    text-decoration: none;
    color: #fff
}

.c_up_nocurrent, .c_up_nocurrent:hover {
    margin-right: 10px;
    border: 1px solid #ccc;
    background-position: 5px -92px;
    color: #666;
    cursor: default
}

.c_down_nocurrent, .c_down_nocurrent:hover {
    width: 61px;
    height: 23px;
    padding: 0 0 0 9px;
    border: 1px solid #ccc;
    background-position: 51px -60px;
    cursor: default;
    line-height: 23px;
    color: #ccc;
    font-weight: 700;
    text-decoration: none
}

.c_pagevalue {
    margin-left: 25%;
    margin-top: 10px;
}

.c_pagevalue .c_page_num {
    width: 25px;
    height: 14px;
    margin: 0 3px;
    padding: 3px;
    border: 1px solid #ccc;
    vertical-align: middle
}

.c_page_submit {
    width: 55px;
    height: 23px;
    margin-left: 10px;
    padding: 0 8px;
    background-position: 0 -128px;
    background-repeat: repeat;
    border: 1px solid #C8C8C8;
    cursor: pointer;
    vertical-align: middle;
    background: #6FDCC5;
    color: #fff
}

.c_page_submit:hover {
    background: #6FDCC5;
    border: 1px solid #67C4B9;
    color: #fff
}


.scenicsearch .searchinput {
    width: 60%;
    height: 30px;
    font-size: 16px;
    color: rgba(1, 167, 70, .9);
    border: 1px solid rgba(1, 167, 70, .6);
}

.scenicsearch .searchbutton {
    width: 60px;
    height: 30px;
    margin-left: 5px;
    background: rgba(1, 167, 70, .6);
    border-radius: 5px;
    border: none;
    color: #f8fecc;
}
.btn_more{
	/*float: right;*/
    position: absolute;
    /*right: -128px;*/
	height: 15px;
    left: 140%;
    bottom: -2px;
    /* background-color: rgba(1, 167, 70, .6); */
   /*  color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 10%; */
}

